################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/NugetAuditor.Tests/bin/Debug
